@using Microsoft.Extensions.Localization
@inherits LayoutComponentBase
@inject IStringLocalizer<MainLayout> Localizer

<div>
  <NavMenu />

  <main class="sm:pt-[4.25rem]">
    <article>
      @Body
    </article>
  </main>

  <Footer />
</div>

<div id="blazor-error-ui">
  @Localizer["Error"]
  <a href="" class="reload">@Localizer["Reload"]</a>
  <a class="dismiss">🗙</a>
</div>
