@inherits LayoutComponentBase

<div>
  <NavMenu />

  <main class="pt-[8rem] sm:pt-[4.25rem]">
    <article>
      @Body
    </article>
  </main>

  <Footer />
</div>

<div id="blazor-error-ui">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>
