@using Web.Models

<div class="w-full relative own-bg-primary @(Class)">
  <div class="container flex flex-wrap lg:flex-nowrap justify-around items-center gap-8 py-12">
    <CardDeck>
      @foreach (var card in Cards) {
        <Card2 Card=@card />
      }
    </CardDeck>
  </div>
</div>

@code {
  [Parameter]
  public string Class { get; set; } = string.Empty;

  [Parameter]
  [EditorRequired]
  public List<ContactCard> Cards { get; set; } = default!;

  protected override void OnInitialized() {
    base.OnInitialized();
  }
}
