<div class="flex justify-around items-center own-bg-primary">
  <div class="relative w-1/3">
    <div class="relative z-20 bg-gradient-to-b from-[#FD2C4D] to-[#FD2C4D50] px-8 py-16 rounded-3xl">

      <div class="relative z-20 flex flex-col justify-center items-center gap-4">

        <Heading Size="HeadingSize.Is2" Class="w-full text-white text-center">
          Lorem Ipsum dolor
        </Heading>

        <Paragraph TextSize="TextSize.Large" Class="w-full text-white text-center">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </Paragraph>

        <Button Color="Color.Info" Size="Size.Large">
          Mehr erfahren
        </Button>

      </div>
    </div>

    <div class="w-full h-full absolute z-10 top-0 left-0 bg-[#930026] rounded-3xl rotate-12"></div>
  </div>

  <div class="relative w-1/3">
    <div class="relative z-20 bg-gradient-to-b from-[#0E274C] to-[#0E274C50] px-8 py-16 rounded-3xl">

      <div class="relative z-20 flex flex-col justify-center items-center gap-4">

        <Heading Size="HeadingSize.Is2" Class="w-full text-white text-center">
          Lorem Ipsum dolor
        </Heading>

        <Paragraph TextSize="TextSize.Large" Class="w-full text-white text-center">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </Paragraph>

        <Button Color="Color.Danger" Size="Size.Large">
          Mehr erfahren
        </Button>

      </div>
    </div>

    <div class="w-full h-full absolute z-10 top-0 left-0 bg-[#1c498e] rounded-3xl rotate-12"></div>
  </div>
</div>

@code {
  protected override void OnInitialized() {
    base.OnInitialized();
  }
}
