<div class="w-full relative own-bg-primary @(Class)">
  <div class="container flex flex-wrap justify-center items-center gap-8 py-12">
    <Heading Size="HeadingSize.Is2" Class="text-white">
      Meine Freizeitaktivitäten
    </Heading>
  </div>
</div>

@code {
  [Parameter]
  public string Class { get; set; } = string.Empty;

  protected override void OnInitialized() {
    base.OnInitialized();
  }
}
