@using Web.Models

<div class="w-full relative own-bg-primary @(Class)">
  <div class="container flex flex-wrap justify-center items-center gap-8 py-12">

    @foreach (var icon in Icons) {
      <ReferenceIcon Icon=@icon />
    }

  </div>
</div>

@code {
  [Parameter]
  public string Class { get; set; } = string.Empty;

  [Parameter]
  [EditorRequired]
  public List<MediaItem> Icons { get; set; } = default!;
}
