@page "/about"
@using Web.Components.Components;

<PageTitle>Justin Urbanek - Über mich</PageTitle>

<HeroBanner Title="Lorem Ipsum dolor"
  SubTitle="sit amet consectetur adipisici elit..."
  HasButton="false"
  IsBigView="false" />

@* ContentGrid2 *@
<div class="w-full relative own-bg-primary">
  <div class="container flex flex-wrap lg:flex-nowrap justify-around items-center gap-8 py-12">
    <div class="w-full lg:w-1/3 flex flex-col items-center gap-8 mx-8 py-48 px-12 lg:px-0">
      <Heading Size="HeadingSize.Is2" Class="text-white">
        Lorem Ipsum dolor
      </Heading>

      <Paragraph Class="text-white">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
        erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </Paragraph>
    </div>

    <div class="w-full lg:w-2/3 relative">
      @foreach (var position in positions) {
        <img src="https://placehold.co/368x256" alt="" class="static lg:absolute shadow-gray-800 shadow-md @(position)" />
      }
    </div>
  </div>
</div>

<div class="relative card-container w-full h-96 whitespace-nowrap overflow-hidden bg-black">

  <div v-for="(card, index) in cards" :key="index" class="inline-block w-full h-96 bg-tertiary-500 card"
    :style="{ transform: `translateX(${card.translateX}px)` }">
    <img class="w-full h-full object-cover" src="https://placehold.co/368x256" alt="Card" />
  </div>

  <div class="absolute top-0 left-0 w-20 h-full bg-gradient-to-r from-white to-transparent"></div>
  <div class="absolute top-0 right-0 w-20 h-full bg-gradient-to-l from-white to-transparent"></div>
</div>

<style>
.card {
    transition: transform 0.1s linear;
}
</style>

@code {
  private string[] positions = ["lg:-top-[22rem] lg:right-[13rem]", "lg:-top-[9rem] lg:right-[4rem]", "lg:top-[3rem] lg:right-[16rem]"];
  private string[] cards = ["0", "0", "0", "0", "0"];

  protected override void OnInitialized() {
    base.OnInitialized();
  }
}