@page "/"

<PageTitle>Justin Urbanek</PageTitle>

<div class="w-full h-[95vh] own-bg-secondary">
  <div class="h-full flex flex-col justify-center items-center md:items-baseline gap-8 container">
    <Heading Size="HeadingSize.Is1">Justin Urbanek - Ich</Heading>

    <Paragraph Class="max-w-md text-center text-white">
      Track work across the enterprise through an open, collaborative platform. Link
      issues across Jira and ingest data from other software development tools, so
      your IT support and operations teams have richer contextual information to rapidly
      respond to requests, incidents, and changes.
    </Paragraph>
  </div>
</div>