@page "/projects"
@using Web.Components.Components
@using Web.Components.Components.Cards
@using Web.Models
@using Web.Helper
@using System.Globalization
@using Web.Services

<PageTitle>Justin Urbanek - Projekte</PageTitle>

<HeroBanner Title="Lorem Ipsum dolor"
            SubTitle="sit amet consectetur adipisici elit..."
            HasButton="false"
            IsBigView="false" />

<Cards1 Items=@ProjectMenuItems />


<h1>@CultureInfo.CurrentCulture</h1>
<h1>@CultureService.CurrentCulture</h1>


@code {
  private List<ProjectMenuItem> ProjectMenuItems { get; set; } = default!;

  protected override void OnInitialized() {
    base.OnInitialized();

    ProjectMenuItems = ProjectMenuItemHelper.GetProjectMenuItems();
  }
}